<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/enquete-viande-de-synthese/assets/css/menu-style.css">
</head>
<body>
    <header class="top-bar">
        <div class="header-content">
            <img src="/enquete-viande-de-synthese/assets/img/logo.png" alt="Logo principal" class="logo">
            <h1 class="gradient-title">Club d'enquêteurs 2024-2025</h1>
            <img src="/enquete-viande-de-synthese/assets/img/logoDauph.png" alt="Autre logo" class="logo">
        </div>
    </header>

    <nav class="menu">
        <a href="/enquete-viande-de-synthese/index.html" class="menu-item" id="home">Accueil</a>
        <a href="/enquete-viande-de-synthese/pages/acteurs.html" class="menu-item" id="acteurs">Acteurs</a>
        <a href="/enquete-viande-de-synthese/pages/discours.html" class="menu-item" id="discours">Discours</a>
        <a href="/enquete-viande-de-synthese/pages/prospectives.html" class="menu-item" id="prospectives">Prospectives</a>
        <a href="/enquete-viande-de-synthese/pages/sources.html" class="menu-item" id="sources">Sources</a>
        <a href="/enquete-viande-de-synthese/pages/apropos.html" class="menu-item" id="apropos">À propos</a>
    </nav>
    <div class="menu-bar"></div>

    <script src="/enquete-viande-de-synthese/assets/js/menu.js"></script>
</body>
</html>
