<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/css/menu-style.css">
</head>
<body>
    <header class="top-bar">
        <h1 class="title">Viande In Vitro</h1>
        <div class="logos">
            <img src="../assets/img/logo.png" alt="Logo 1" class="logo">
            <img src="../assets/img/logoDauph.png" alt="Logo 2" class="logo">
        </div>
    </header>

    <nav class="menu">
        <a href="../index.html" class="menu-item" id="home">Accueil</a>
        <a href="../pages/acteurs.html" class="menu-item" id="acteurs">Acteurs</a>
        <a href="../pages/discours.html" class="menu-item" id="discours">Discours</a>
        <a href="../pages/prospectives.html" class="menu-item" id="prospectives">Prospectives</a>
        <a href="../pages/sources.html" class="menu-item" id="sources">Sources</a>
        <a href="../pages/apropos.html" class="menu-item" id="apropos">À propos</a>
    </nav>
    <div class="menu-bar"></div>

    <script src="../assets/js/menu.js"></script>
</body>
</html>
