<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/css/menu-style.css">
</head>
<body>
    <!-- Barre du haut -->
    <header class="top-bar">
        <h1 class="title">Viande In Vitro</h1>
        <div class="logos">
            <img src="../assets/img/logo.png" alt="Logo 1" class="logo">
            <img src="../assets/img/logoDauph.png" alt="Logo 2" class="logo">
        </div>
    </header>

    <!-- Menu -->
    <nav class="menu">
        <a href="../index.html" class="menu-item">Accueil</a>
        <a href="../pages/acteurs.html" class="menu-item">Acteurs</a>
        <a href="../pages/discours.html" class="menu-item active">Discours</a>
        <a href="../pages/prospectives.html" class="menu-item">Prospectives</a>
    </nav>
    <div class="menu-bar"></div>
</body>
</html>
