body {
    margin: 0;
    font-family: 'TT Lakes Neue', sans-serif;
    background-color: black;
}

#menu-container {
    height: 155px;
}

.panels {
    display: flex;
    width: calc(100vw - 20px);
    height: calc(100vh - 175px);
    gap: 10px;
    margin: 10px;
}

.panel {
    flex: 1;
    background-size: cover;
    background-position: center;
    cursor: pointer;
    transition: flex 0.5s ease-in-out;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    border-radius: 20px;
    overflow: hidden;
    height: 100%;
}

.panel:hover {
    flex: 3;
}

.panel::after {
    content: attr(data-title);
    position: absolute;
    bottom: 10%;
    width: 80%;
    padding: 12px;
    background: rgba(0, 0, 0, 0.6);
    border: 2px solid black;
    border-radius: 12px;
    backdrop-filter: blur(4px);
    color: white;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    opacity: 0;
    transform: translateY(10px);
    transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.panel:hover::after {
    opacity: 1;
    transform: translateY(0);
}

.panel--active::after {
    opacity: 1;
    transform: translateY(0);
}

.no-hover::after {
    display: none !important;
}

.panel.hover-fake {
    flex: 3;
    box-shadow: 0px 4px 15px rgba(255, 255, 255, 0.3);
    transition: flex 0.5s ease-in-out;
}

.panels:has(.hover-fake) .panel:not(.hover-fake) {
    flex: 1;
    transition: flex 0.5s ease-in-out;
}

.fullscreen-panel {
    position: fixed;
    top: 155px;
    left: 0;
    width: 100vw;
    height: calc(100vh - 155px);
    background-size: cover;
    background-position: center;
    z-index: 999;
    border-radius: 20px;
    transition: all 0.5s ease-in-out;
}
